*{margin: 0;box-sizing: border-box;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,html{
    height: 100%;
}

.parent{
    background-color: darkslategray;
    display: flex;
    align-items: center;
}

.child{
    padding: 10em 5em;
    color: white;
    max-width: 750px;
}

h1{
   font-size:40px ; 
   
}

p{
    font-size: 20px;
    margin: 20px 0;
}

button{
    padding: 1em 2em;
    font-size: 15px;
    font-weight: bold;
    background-color: skyblue;
    border: none;
    border-radius: 50px;
}

.imgDiv{
    width: 100%;
    object-fit: cover;
   
    
}

img{
    width: 70%;
    max-width: 100%;
}


.bottomBox{
    display: flex;
    padding: 3em 5em;
    justify-content: space-around;

}

.right{
    background-color:darkslategray ;
    text-align: center;
    padding: 1em;

}

.right >* {
    color: white;
    max-width: 300px;
}

.left{
    /* text-align: center; */
    max-width: 560px;
    /* padding: 20em; */
    color: darkslategray;

}



.box{
    width: 50vw;
    height: 50vh;
    background-color: pink;
    margin: 25vh auto 0;
    padding: 0.5em;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row ;
   align-items: flex-start;
}

.boxes{
    background-color: lightblue;
    margin: .2em;


}

.box1{
    /* flex-grow:1 ;
    flex-shrink: 2;
    flex-basis: 150px; */
    /* flex: 1 2 150px; */
}
.box2{

    flex: 1 2 250px;
    order: 3 ;
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
    /* align-self: center; */
}
.box3{
    /* flex-grow: 1; */
}